<!DOCTYPE html>
<html>
  <body>
	  <div style="padding:10px;background-color: red">
		  Some
	  </div>

	{% block heading %}
    <h1 style>Hi {{ name }}!</h1>
	{% endblock heading %}

  </body>
</html>
